.list-pa {
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.list-pa .item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.list-pa .item:last-of-type {
  
  border-bottom: none;
}

.list-pa .item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.list-pa a {
  text-decoration: none;
}