@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Inter';
  flex-direction: column;
  margin-bottom: 138px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 101px;
  background-image: url('/bg.png');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: brightness(2.2);
  margin-bottom: 33.78px;
}

.desc {
  width: 960px;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.165rem;
  height: 27.629rem;
  border-radius: 26.2089px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.card_main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26.2089px;
  background-size: cover;
  position: relative;
  width: 23.438rem;
  height: 33.788rem;
}

.card_main .inner_card {
  width: 17.738rem;
  height: 25.509rem;
}

.card_main .inner_card .title {
  font-size: 1.635rem;
  width: 283.76px;
}

.card_main .inner_card .description {
  font-size: 0.935rem;
  width: 283.76px;
  height: 98.68px;
}

.card_main .baca {
  width: 7.869rem;
  height: 2.466rem;
  font-size: 0.973rem;
}

.tint {
  width: 100%;
  height: 100%;
  background: #0B0706;
  opacity: 0.5;
  border-radius: 26.2089px;
  position: absolute;
}

.inner_card {
  width: 14.504rem;
  height: 20.838rem;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.text .title {
  width: 232.04px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 21.3972px;
  color: #FFFFFF;
  overflow: hidden;
}

.text .description {
  width: 232.04px;
  height: 80.69px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.227px;
  line-height: 160%;
  color: #FFFFFF;
}

.headline {
  width: 303px;
  height: 128px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #1F2027;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15.3px;
  width: 6.426rem;
  height: 2rem;
  background: linear-gradient(100.11deg, #0EAE88 0%, #1350C7 100%);
  box-shadow: 0px 1.52969px 4.58906px rgba(0, 0, 0, 0.15);
  border-radius: 1.875rem;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  text-decoration: none;
}

.more {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 5px;
  width: 252px;
  height: 56px;
  left: 630px;
  top: 1827px;
  border: 1px solid #103442;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  color: #7D7D7D;
  margin-top: 79px;
  text-decoration: none;
}

@media (max-width: 960px) {
  .container {
    height: 100%;
    padding: 40px 0px;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header {
    width: 100%;
    height: 100%;
  }

  .title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
  }

  .desc {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
  }
  
  .cardImage img {
    width: 356px;
    height: 254px;
    border-radius: 0px;
  }
  
  .text {
    width: 100%;
  }
}