.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
  background: #F7FAFF;
}

.inner_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
  height: 125.72px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22.3585px;
  line-height: 27px;
  color: #2D2E2E;
}

.inner_container p {
  margin-bottom: 22.36px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60vw;
}

.contact {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.hubungi {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22.3585px;
  line-height: 27px;
  color: #2D2E2E;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  gap: 22.36px;
  width: 10vw;
  height: 55.9px;
}

.logos svg {
  height: 30px;
  margin-left: 22.36px;
}

@media (max-width: 960px) {
  .container {
    height: 400px;
  }
  
  .inner_container {
    flex-direction: column;
    height: 200px;
  }
}