.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F1F1F;
  padding: 3rem 5rem;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22.3585px;
  line-height: 27px;
  color: #67748E;
  gap: 2rem 10rem;
}

.header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22.3585px;
  line-height: 27px;
  color: #67748E;
}

@media (max-width: 960px) {
  .container {
    width: 100%;;
  }
  
  .inner_container {
    flex-direction: column;
  }
}