@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  height: 65.563rem;
  background: #F7FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  background: url(/bg.png);
  background-size: cover;
  position: relative;
}

.title {
  width: 491px;
  height: 146px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 73px;
  margin-bottom: 25px;
  color: white;
}

.info {
  width: 579px;
  height: 132px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.43rem;
  line-height: 44px;
  color: #D4D4D4;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19.141rem;
  height: 3.696rem;
  background: #69CDF9;
  box-shadow: 0px 1.38812px 2.77624px rgba(0, 0, 0, 0.25);
  border-radius: 28.4565px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.43rem;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(100.11deg, #0EAE88 0%, #1350C7 100%);
}

.left {
  margin-top: 150px;
}

.verses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 706.79px;
  height: 48.188rem;
  left: 598px;
  top: 40px;
}

.verse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38.829rem;
  height: 10.793rem;
  background: #FFFFFF;
  box-shadow: 0px 16.4723px 109.815px rgba(0, 0, 0, 0.07), 0px 2.06258px 13.7506px rgba(0, 0, 0, 0.035);
  border-radius: 13.9272px;
}

.content {
  display: flex;
  width: 34.625rem;
  height: 6.6rem;
  flex-direction: column;
  justify-content: space-between;
}

.verse2 {
  margin-left: 188px;
}

.verse3 {
  margin-left: 62px;
}

.bible_verse {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 23px;
  text-align: right;
  color: #1F2027;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: right;
  color: #1F2027;
}

@media (max-width: 1300px) {
  .container {
    display: none;
  }
}