.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}

.profile-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  width: 50%;
}

.profile-picture {
  overflow: hidden;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  width: 60%;
  padding: 0 20px;
}

.profile-info h2 {
  margin-top: 0;
  font-size: 20px;
}

.profile-info p {
  margin-bottom: 10px;
  font-size: 18px;
}

.profile-card-container {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.profile-card-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.profile-card-container h2 {
  font-size: 18px;
  margin-top: 20px;
}

.profile-card-container .title {
  font-size: 18px;
  color: black;
}

.profile-card-container p {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

@media screen and (max-width: 960px) {
  .profile-info h2 {
    font-size: 18px;
  }

  .profile-info p {
    font-size: 14px;
  }

  .profile-picture img {
    width: 120px;
    height: 120px;
  }

  .profile-card {
    flex-direction: column;
  }
}