  .profile-card-container {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .profile-card-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
  }

  .profile-card-container h2 {
    font-size: 24px;
    margin-top: 20px;
  }

  .profile-card-container .title {
    font-size: 18px;
    color: gray;
  }

  .profile-card-container p {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
  }
  
  .circle {
    display: none;
  }