.overlay_container {  
  display: flex;
  justify-content: center;
  padding: 5rem 0rem;
}

.overlay_section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 23px 23.4px;
  margin: 0px 180px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 35.1px;
}

.date {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 21.5813px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #A6A6A6;
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 49.4572px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #000000;
}

.text {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 20.4656px;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.03em;
  text-indent: 89.9221px;
  color: #3A3A3A;
}

.text > pre {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 20.4656px;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.03em;
  text-indent: 89.9221px;
  color: #3A3A3A;
  text-indent: 0rem;
}

.img {
  object-fit: cover;
}

@media (max-width: 960px) {
  .overlay_section {
    margin: 0px 50px;
    padding: 0px;
  }

}